@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

#navigation{
    position: sticky;
    top: 0px;
    box-shadow: 0px 0px 5px 0px #fff;
    z-index: 50;
    backdrop-filter: blur(50px);
}
#navname{
    font-family: 'Orbitron', sans-serif;
}

#icon{
    box-shadow: 0 0 10px 0 #818181;
}

/* Mobile Menu Animation */
.md\:hidden {
    transform-origin: top;
    transition: all 0.2s ease-in-out;
}

.md\:hidden.visible {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.md\:hidden.invisible {
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
}

/* Mobile Menu Links */
.md\:hidden a {
    transition: all 0.2s ease-in-out;
    position: relative;
}

.md\:hidden a:hover {
    transform: translateX(5px);
}

/* Home Page */
#herointro{
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}
#herosummary{
    font-family: 'Audiowide', sans-serif;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}
#herobutton{
    /* font-family: 'Michroma', sans-serif; */
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
/* about & contact sec */
#detailsec{
    box-shadow: 0px 0px 5px #00C2FF;
}
#abouttitle{
    font-family: 'Orbitron', sans-serif;
}
#aboutimg{
    box-shadow: 0px 0px 20px cyan;
    overflow: hidden;
    position: relative;
}

@keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(-60px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .animate-slide {
    animation: slideInLeft 1s ease-out forwards;
  }

  /* Project Page */
  #projectlayoutfirst{
    box-shadow: 0px 0px 10px #00FFF0;
  }
  #projectlayoutsecond{
    box-shadow: 0px 0px 10px #9D00FF;
  }
  #projectlayoutthird{
    box-shadow: 0px 0px 10px #FF00E5;
  }
  #projectlayoutfourth{
    box-shadow: 0px 0px 10px #00FFF0;
  }
  #projectlayoutfifth{
    box-shadow: 0px 0px 10px #FF00E5;
  }

  /* Resume Section */
  #resumelayout{
    box-shadow:0px 0px 15px #FF007F;
  }

  /* Chatbox */
  #chatbox{
    background-image: url("../assets/chat/chat.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 10px cyan;
  }
  
  